.vagrant
.vagrant*
config.yml
parrot-config/solr/*
parrot-config/php/parrot-local.ini
parrot-config/pagespeed/pagespeed.conf
sites/*
.DS_Store
tmp/*
databases/*
.idea/*
parrot-config/pagespeed/pagespeed.conf